/* General Styles */
.match-history-container {
    width: 80%;
    margin: 20px auto;
    background-color: #1a1a1a;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.match-history-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Table Styles */
.match-history-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a;
    color: #fff;
    margin-top: 20px;
}

.match-history-table th,
.match-history-table td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #333;
}

.match-history-table th {
    background-color: #333;
    letter-spacing: 0.5px;
}

.match-history-table tr:nth-child(even) {
    background-color: #242424;
}

.match-history-table tr:hover {
    background-color: #2e2e2e;
}