
.form-container {
	background-image: url(https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	border-radius: 10px;
	width: 500px;
	height: 500px;
	margin-right: 10px;
}

.TwoFA-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 700px;
	height: 100vh;
	margin: 0 auto;
}

.TwoFA-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.TwoFA-content-container-QR {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.TwoFA-content-container-QR > * {
	margin: 20px 0;
}

.input-login-container {
    margin-top: 90px;
    margin-right: 50px;
    margin-left: 50px;
}

.input-login-container + .input-login-container {
    margin-top: 10px;
}

.icon {
	margin-right: 8px;
	color: #fff
  }

.button-login-container {
    margin-right: 50px;
    margin-left: 50px;
	margin-top: 80px;
}

.nameFieldRow {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	/* width: 100%; */
	display: flex;
}

.nameFieldRow + .nameFieldRow {
	margin-top: 10px;
}

.nameFieldContainerFirst {
	flex: 1; 
	margin-right: 3px;
}

.nameFieldContainerLast {
	flex: 1; 
	margin-left: 3px;
}

.button {
	margin-top: 20px;
	margin: 10px 0;
}

.button2FA {
	margin-top: 20px;
	margin: 10px 0;
}

.button42 {
	margin: 20px 0;
	transition: background-color 0.2s ease; 
  	cursor: pointer;
	font-weight: bold;
	background-color: #000;
	color: #fff;
  	border: none;
  	outline: none;
  	width: 100%;
  	height: 90px;

	&:hover {
		background-color: #111; 
	}
}

.existingUserOrNot {
	margin: 20px 0;
	text-align: center;
	width: 100%;
	
	font-style: italic;
    font-size: 90%; 
	
	& :last-child {
		text-decoration: underline;
		color: white;
	}
}


/* FORMULA USERNAME DISPLAY */

.member-list-container {
	background-color: #4d4c4c;
	width: 500px;
	height: 200px;
	padding: 20px;
	display: flex;
  	flex-direction: column;
 	align-items: center;
 	justify-content: center;
}

.member-list-container h2 {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}

.member-list-container p {
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: italic;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}

.member-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.username-button {
	display: block;
	width: 100%;
	padding: 8px 16px;
	margin: 4px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: #4d4c4c;
	color: white;
	border: 1px solid #4d4c4c;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
}
  
  .username-button:hover {
	background-color: #8d8f8d;
	border: 1px solid #ffffff;
}
  