
.messageText {
	display: block;
	font-size: 20px;
	color: rgb(255, 255, 255);
}

.messageAuthorName {
	display: block;
	font-style: italic;
	font-size: 16px;
	color: rgb(233, 180, 164);
}

.dateMessage {
	display: block;
	font-style: italic;
	font-size: 12px;
	margin-top: 8px;
	color: rgb(121, 117, 117);
}

.scrollablePanel {
	overflow-y: scroll;
	max-height: 80%;
	scrollbar-width: thin;
	scrollbar-color: #ccc #f4f4f4;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	padding: 10px;
	scroll-padding: 0 10px;
}